<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703840219754-tpqsu3psmqtiocfgmp7j95pp9l9jo7pm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703840219754-tpqsu3psmqtiocfgmp7j95pp9l9jo7pm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>703840219754-89858spsm7tn2tflsot8hf6jdbst0972.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMdUv6cfjW3l_PnLQt7PsA5qFDkC1bjgo</string>
	<key>GCM_SENDER_ID</key>
	<string>703840219754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simicart.enterprise</string>
	<key>PROJECT_ID</key>
	<string>albaharelectronics-cd314</string>
	<key>STORAGE_BUCKET</key>
	<string>albaharelectronics-cd314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703840219754:ios:daba7ff0f6300a51519013</string>
</dict>
</plist>